<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: 'Instrument Serif', serif;
            padding: 0px;
            background-image: url('../images/moncler.png');
            background-size: cover;
        }

        .banner{
            font-family: 'Instrument Serif', serif;
        }

    </style>
</head>
<body>
    <div class="banner">
        <h3 class="text-white">Cooler days call for dialed up styles that give</h3>
        <h3>new season energy</h3>
    </div>
</body>
</html>