@model List<Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <div class="text-center mb-5">
        <h1>Welcome to Our Store</h1>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 mr-5 mb-5">
            <div class="card text-white bg-dark" style="width: 15rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.AllAssociations</p>
                    <a asp-action="ItemDetails" class="btn btn-primary" asp-route-id="@item.ProductId">Show More</a>
                </div>
            </div>
            </div>
        }
    </div>
</body>

</html>