html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
    background-image: url('../images/purple_moon.png');
    background-size: cover;
  color: white;
}

*{
  margin: 0 auto;
  padding: 0px;
}

.s-logo{
  width: 6em;
}